#newPost {
	margin: 0 auto;
	position: relative;
	width:  96%;
	border-right: 1px solid #9c0;
	border-bottom: 1px solid #9c0;
	border-left: 1px solid #9c0;
}
#newPost:before {
	content: "";
	background: white;
	position: absolute;
	right: -8px;
	top: -2px;
	width: 17px;
	height: 8px;
	transform: rotate(45deg);
}
#newPost h3 {
	margin: 0;
	color: white;
	background: #9c0;
	width: auto;
	line-height: 21px;
	height: 21px;
}
#newPost h3 span {
	font-size: 1.1em;
	float: left;
	padding-left: 18px;
	background: url(/assets/images/bloc_fleche.gif) no-repeat;
}
#newPost .body {
	margin-bottom: 45px;
	color: #c00;
	margin-left: 5px;
	font-weight: bold;
}
#newPost .body form button {
	float: right;
	margin-right: 8px;
	border: none;
}
#newPost .body p {
	font-family: Arial;
}
#newPost .body p span {
	font-family: Arial;
	text-decoration: none;
	color: #0a77b8;
	font-weight: bold;
	background: url(/assets/images/puce_liste_orange.gif) no-repeat left center;
	margin-left: 25px;
	padding-left: 8px;
}
#newPost .body p span:hover {
	cursor: pointer;
	color: #ff5500;
}
#newPost .body p label {
	font-family: Arial;
}
#newPost .body input {
	margin-top: 5px;
	width: 98%;
}
#newPost .body textarea {
	-webkit-appearance: textarea;
	background-color: white;
	-webkit-rtl-ordering: logical;
	flex-direction: column;
	resize: auto;
	cursor: text;
	width: 98%;
	height: 150px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	padding: 2px;
	font-family: monospace;
}

#newmessage {
	margin-top: 5px;
}